@font-face {
    font-family: 'RGCironText-Bold';
    src: url('../fonts/RGCironDisplay-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'RGCironClassic-Light';
    src: url('../fonts/RGCironClassic-Light.otf') format('opentype');
}

@font-face {
    font-family: 'JSSans-Regular';
    src: url('../fonts/JSSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'JSSans-RegularItalic';
    src: url('../fonts/JSSans-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'JSSans-Medium';
    src: url('../fonts/JSSans-Medium.otf') format('opentype');
}

::-moz-selection { /* Code for Firefox */
    color: #eb7b67;
    background: #ebcefa;
  }
  
  ::selection {
    color: #eb7b67;
    background: #ebcefa;
  }

body {
    font-family: 'JSSans-Regular', sans-serif !important;
    background-image: url('../assets/new_bg.png') !important;
    background-repeat: no-repeat !important;
    background-size:     cover !important;                    
    background-position: center center !important;
    padding-top: 110px;
}

h1 {
    font-family: 'RGCironText-Bold', sans-serif !important;
}

h2 {
    font-family: 'RGCironText-Bold', sans-serif !important;
}

h3 {
    font-family: 'JSSans-Medium', sans-serif !important;
    font-weight: bold !important;
  }

h5 {
  font-family: 'JSSans-Medium', sans-serif !important;
  font-weight: bold !important;
}

.navbar-brand {
  font-family: 'RGCironText-Bold', sans-serif !important;
  font-feature-settings: 'ss04';
}

.navbar {
  background-color: white !important;
  font-family: 'RGCironClassic-Light', sans-serif !important;
}
