@font-face {
    font-family: 'RGCironText-Heavy';
    src: url('../fonts/RGCironText-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'JSSans-Regular';
    src: url('../fonts/JSSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'JSSans-RegularItalic';
    src: url('../fonts/JSSans-RegularItalic.otf') format('opentype');
}

@font-face {
    font-family: 'JSSans-Medium';
    src: url('../fonts/JSSans-Medium.otf') format('opentype');
}

body {
    font-family: 'JSSans-Regular', sans-serif !important;
    margin-top: 100px;
}

h1 {
    font-family: 'RGCironText-Heavy', sans-serif !important;
}

h2 {
    font-family: 'RGCironText-Heavy', sans-serif !important;
}

.navbar-brand {
    font-family: 'RGCironText-Heavy', sans-serif !important;
}

.navbar {
    background-color: white !important;
    font-family: 'JSSans-Medium', sans-serif !important;
}

.bg-image {
    position: absolute;
    right: 0;
    top: 0;
  bottom: 0;
  width: 70%; /* adjust this as needed */
  height: 100%;
  background-image: url('../assets/hintergrund_pink_02.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  z-index: -1;
  }

  .content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* adjust this as needed */
    background-image: url('../assets/stern_blau_1.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    z-index: -1;
  }

  .content::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* adjust this as needed */
    background-image: url('../assets/hintergrund_pink_02.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    z-index: -1;
  }
  
  .content {
    position: relative;
  }

  .image-gallery {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .image-gallery img {
    height: 600px; /* adjust this as needed */
    margin-right: 30px; /* adjust this as needed */
  }

  .container.no-padding {
    padding-right: 0 !important;
  }

  @media screen and (max-width: 600px) {
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }