$primary-color: #ebd3fa;
$primary-text-emphasis-color: #6c757d;
$primary-bg-subtle-color: #f8f9fa;
$primary-border-subtle-color: hwb(210 97% 2%);
$accordion-button-active-bg: #ebd3fa;
$accordion-button-active-color: #495057;
$accordion-button-focus-border-color: #294a27;
$accordion-button-focus-box-shadow: #ebd3fa;

$nav-pills-link-active-bg:#eb7b67;
$nav-link-color: #eb7b67;



@import "../node_modules/bootstrap/scss/bootstrap";


